
#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
  padding: 2rem;
  min-height: 200vh;
}

body {
  /* background-image: url('smallcover.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
